<!-- COMP229-F2020-Assignment1, Nguyen Khang Nguyen, 301098234, 10/09/2020--> 
<!--About Me Page content-->

<div class="container" style="background-color: #ed7c70;">
        <div class="jumbotron" style="text-align: center;">
          <h3 class="display-4">Who am I.</h3> <br>
          <img src="/Assets/images/selfie.jpg" width="30%" height="30%">
          <br><br>
          <div class="container" style="width: 600px;">
          <p>I am Khang N. Nguyen, a Game Programming student at Centennial College, Ontario, Canada.
            With the burning passion for interactive gaming with strong computer programming skills
            and creativity, I went on and familiarize myself with C++, C#, Java, JavaScript, Python,
            Unix/Linux, HTML/XML and Unity Game Engine. Besides, throughout my academic pathway,
            I am trained in two-dimensional and three-dimensional graphics programming. Moreover, 
            I am an excellent problem solver and fast learner who can work with efficiency independently
            and as part of a team.</p>
          </div>

          <h3><a class="nav-link" href="https://drive.google.com/file/d/1vXjSNZeyz1xP51Huf7gxI1zebII6iH4c/view?usp=sharing">Resume Link.</a></h3>
          
          </div>
      </div>