<!-- COMP229-F2020-Assignment1, Nguyen Khang Nguyen, 301098234, 10/09/2020--> 
<!-- Bottom Nav -->

  <footer>
    <nav class="navbar fixed-bottom" style=" background-color: #1f1f1f; color: #e74c3c ;">
      <h6 class="display-6 navbar-text">&copy; Copyright 2020. All Rights reserved</h6>
</nav>
  </footer>