<!-- COMP229-F2020-Assignment1, Nguyen Khang Nguyen, 301098234, 10/09/2020--> 
<!-- Contact Page Content -->

<div class="container" style="background-color: #ed7c70;">
        <div class="jumbotron" style="text-align: center;">
          <h3 class="display-4">Contact information</h3><br>
          <div class="container" style="width: 500px; text-align: left;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Name: Khang N. Nguyen</li>
            <li class="list-group-item">Email: <a href="mailto:nnguy160@my.centennialcollege.ca"> nnguy160@my.centennialcollege.ca</a></li>
            <li class="list-group-item">Linkedin: <a href="https://www.linkedin.com/in/khangn/"> https://www.linkedin.com/in/khangn/</a></li>
          </ul>
            </div> <br>
          <div class="container" style="width: 600px; text-align: left;">
            <h4 class="display-6">Want me to follow up?</h4>
            <form id="contactform">
              <div class="form-group">
                <label for="firstName" style="float: left;">First Name: &nbsp;</label>
                <input type="text" style="float: left;">
                <label for="lasttName" style="float: left;">&nbsp; Last Name: &nbsp;</label>
                <input type="text" style="float: left;">
              </div> <br><br>              
              <div class="form-group">
                <label for="phoneNumber" style="float: left;">Phone Number: &nbsp;</label>
                <input type="tel" style="float: left;">
              </div> <br>
              <div class="form-group">
                <label for="email" style="float: left;">Email: &nbsp;</label>
                <input type="email" style="float: left;">
              </div> <br>
              <div class="form-group">
                <label for="inquiry" style="float: left;">Inquiry: &nbsp;</label>
                <textarea rows="4" cols="50" name="inquiry" form="contactform"></textarea>
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Subscribe for updates</label>
              </div>
              <a href="/home"><button type="button" class="btn btn-dark">Submit</button></a> 
            </form>
          </div>
        </div>
      </div>