<!-- COMP229-F2020-Assignment1, Nguyen Khang Nguyen, 301098234, 10/09/2020--> 
<!-- Script Section -->

  <script src="/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script> 
  <script src ="Scripts/app.js"></script>
</body>
</html>