<!-- COMP229-F2020-Assignment1, Nguyen Khang Nguyen, 301098234, 10/09/2020--> 
<!-- Main/Home Page -->

<div class="container" style="background-color: #ed7c70;">
      <div class="jumbotron" style="text-align: center;">
        <h3 class="display-4">I'm Khang</h3>
        <h4 class="display-6">A Game Developer</h4>  
          <br>
        <div class="container" style="width: 450px;">
        <p>I am a game developer/programmer based in Toronto, Canada. I have a passion for game developing and love to create competitive multiplayer games for both desktops and mobile devices</p>
        </div> <br>
        <h4 class="display-6">What can I do.</h4> <br>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <i class="fas fa-4x fa-gamepad"></i>
              <br><br>
              <h5 class="display-6">GAME DEVELOPING</h5>
              <p>I am able to create tactical shooting, puzzle solving, fighting or metroidvania games
                either as the only developer or as a team member
                 through efficiently ultilize skills in C#, MS-SQL Server and Unity Game Engine.</p>
            </div>
            <div class="col-sm">
              <i class="fas fa-4x fa-laptop-code"></i>
              <br><br>
              <h5 class="display-6">SOFTWARE PROGRAMMING</h5>
              <p>I have experience in programming Object-Oriented Softwares using C++, C#, Java, Python.
                I am a hard-working programmer with a flair for creating elegant solutions in the least amount of time.</p>
            </div>
            <div class="col-sm">
              <i class="fas fa-4x fa-object-group"></i>
              <br><br>
              <h5 class="display-6">GRAPHIC DESIGNING</h5>
              <p>During free time, I also take part in graphic designing projects to assist web developers
                and creating UI/UX for automation softwares.</p>
            </div>
          </div>
        </div>
      </div>
      </div>