<!-- COMP229-F2020-Assignment1, Nguyen Khang Nguyen, 301098234, 10/09/2020--> 
<!-- Projects Page -->

<div class="container" style="background-color: #ed7c70;">
        <div class="jumbotron" style="text-align: center;">
          <h3 class="display-4">Highlighted Projects.</h3><br>
          

          <div class="container" style="width: 600px;">
            <h4 class="display-6">Santa Adventure</h4>
            <img src="/Assets/images/project1.png" width="70%" height="70%"><br><br>
            <p>Santa Adventure is a 2D platformer with 8 different levels and hazards ranging from easy to hard,
            which was made as the final project for my first semester at Centennial College. I was working as the 
            head programmer and levels designer for the project. With the help of my teammates, 
            we were able to make a full playable build in two months and earned ourselves an A+. 
             </p>
            </div>

            <div class="container" style="width: 600px;">
            <h4 class="display-6">Retro Games Rebuild</h4>
            <img src="/Assets/images/pacman.png" width="70%" height="70%"><br><br>

            <img src="/Assets/images/ataribreakout.png" width="70%" height="70%"><br><br>

            <img src="/Assets/images/ataripong.png" width="70%" height="70%"><br><br>
            <p>This collection consists of three retro games: Pacman, Atari Breakout, Atari Pong.
              Those were made individually as per requested by my instructor during the first semester as well.
              I was able to fulfill all the requirements within two weeks for each project
              and successfully earned A+ on all.
             </p>
            </div>

            <div class="container" style="width: 600px;">
            <h4 class="display-6">Nike Shoe Bot</h4>
            <img src="/Assets/images/nsb.png" width="70%" height="70%"><br><br>

            <p>This project is a automation software intented to assist users to checkout many pairs of shoes
              at the same time without having to manually getting on the website. I took part in designing the
              UI/UX for the program, including animated icons for each section, navigation bar at the top, 
              pop-up box for entering users information. The software has now 7000 users and is still growing everyday.
             </p>
            </div>
          
          </div>
      </div>