<!-- COMP229-F2020-Assignment1, Nguyen Khang Nguyen, 301098234, 10/09/2020--> 
<!-- Services Page -->

<div class="container" style="background-color: #ed7c70;">
        <div class="jumbotron" style="text-align: center;">
          <h3 class="display-4">Services I offer</h3><br>
          <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action"><h4 class="display-6">Game Development (Programming, Graphic designing,...)</h4>
                <img src="/Assets/images/gamedevelopment.png" width="50%" height="50%"><br><br>
                </button>
                <button type="button" class="list-group-item list-group-item-action"><h4 class="display-6">Web Designing/Developing</h4>
                <img src="/Assets/images/webdesign.png" width="50%" height="50%"><br><br>
                </button>
                <button type="button" class="list-group-item list-group-item-action"><h4 class="display-6">General Programming</h4>
                <img src="/Assets/images/programming.jpg" width="50%" height="50%"><br><br>
                </button>
                <button type="button" class="list-group-item list-group-item-action"><h4 class="display-6">UI/UX Designing</h4>
                <img src="/Assets/images/uiux.png" width="50%" height="50%"><br><br>
                </button>
            
            </div>
          
          </div>
      </div>